body{
    margin: 0%;
    padding:0%;
}
.carousel-inner img{
    height:600px;
}
/* h1, h3{
    text-align: center;
} */
.size{
    width:500px;
}
.center{
    text-align: center;
}
.crust{
    margin-top:5%;
    padding:5%;
}
.toppings{
    padding:5%
}
.number{
    padding-top:5%;
    padding-bottom: 2%;
}