body{
    margin: 0%;
    padding:0%;
    background-color: burlywood;
}
.carousel-inner img{
    height:600px;
}

.size{
    width:500px;
}
h1{
    color:rgb(231, 3, 3);
    font-family: 'Yeon Sung';
}
.center{
    text-align: center;
}
.inline-block{
    display:inline-block;
    margin-left: 400px;
    width: 200px;
    /* text-align: center; */
}
.crust{
    margin-top:5%;
}
#crust{
    height: 400px;
}
.toppings{
    padding:2%
}
.number{
    width: 200px;
    margin-left: 400px;
    padding-top:5%;
    padding-bottom: 2%;
}
.delivery{
    text-align: center;
    display:inline-block;
    margin-bottom: 10px;
    margin-left: 400px;
    wi
}
#table{
    
    display:none;
}
td{
    color:green;
}
#pizza td{
    height: 100px;
}
.checkout{
    padding:2%;
}
#row{
    background-color: rgb(177, 8, 8);
}
