body{
    margin: 0%;
    padding:0%;
    background-color: burlywood;
}
.carousel-inner img{
    height:600px;
}

.size{
    width:500px;
}
.center{
    text-align: center;
}
.crust{
    margin-top:5%;
}
#crust{
    height: 400px;
}
.toppings{
    padding:2%
}
.number{
    padding-top:5%;
    padding-bottom: 2%;
}
#table{
    height:100px;
}
td{
    color:green;
}
.checkout{
    padding:2%;
}
#row{
    background-color: rgb(177, 8, 8);
}
